@import "styles.css";
@import url("https://fonts.googleapis.com/css2?family=IBM%20Plex%20Mono:wght@400;700&amp;display=swap");

#background {
  height: 100vh;
}

* {
  color: white;
}

body {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  font-family: "IBM Plex Mono";
  font-weight: 350;
  background: rgb(15, 15, 15);
  color: rgb(15, 15, 15);
}

.h1-high,
font-weight-bold-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease-in-out infinite;
  background-size: 400% 400%;
  font-size: 28px;
}

.h1-high,
font-weight-bold-text {
  background-image: linear-gradient(
    -45deg,
    #007cf0,
    #008b87,
    var(--start-color-2),
    var(--end-color-2),
    var(--start-color),
    var(--end-color)
  );
}

#background {
  justify-items: center;
  display: grid;
  align-items: center;
  width: 100vw;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  max-width: 800px;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
}

.keywrapper {
  max-width: 390px;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
}

a {
  color: #407266;
}

a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
}

noscript {
  color: WHITE;
}

::selection {
  background-color: #fff;
  color: #000;
}

[class~="about-one-liner"] {
  margin-top: 2rem;
  margin-bottom: 0;
}

[class~="h1-tag"] {
  font-weight: 700;
}

[class~="h1-tag"],
[class~="about-one-liner"]:first-of-type {
  margin-top: 0;
}


[class~="socials-list"] {
  font-family: "IBM Plex Mono";
  font-size: 10px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  
}

[class~="li-element"] {
  opacity: 0.25;
}

[class~="li-element-right"] {
  opacity: 0.25;
  text-align: right;
}

[class~="font-weight-bold-text"] {
  font-weight: bold;
}